@import url('https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&family=Bitcount+Single:wght@100..900&family=Jua&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {
  --font-akt: Akt, sans-serif;

	--font-bc-prop: Bitcount Prop Single, system-ui;


  --color-win95-blue: #008282;
  --color-win95-gray: #c3c3c3;
  --color-win95-off-white: #fbfbfb;
  --color-win95-dark-gray: #797979;

	--color-hover-gray: #9B9B9B;


  --shadow-win95: 1px 1px 0px 0px rgba(0, 0, 0, 1) ,
	                inset -2px -2px 0 #797979,
                  inset  2px  2px 0 #fbfbfb;
}
