@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --font-bc-prop: Bitcount Prop Single, system-ui;

  --color-win95-blue: #008282;
  --color-win95-gray: #c3c3c3;
  --color-win95-off-white: #fbfbfb;
  --color-win95-dark-gray: #797979;

  --color-hover-gray: #9b9b9b;

  --shadow-win95:
    2px 2px 0px 0px rgba(0, 0, 0, 1), inset -2px -2px 0 #797979,
    inset 2px 2px 0 #fbfbfb;
}

body {
  /* for dynamic island on some iphones (like mine) */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

  /* just have global color here to fix above issue */
  background-color: #008282;
}
